* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f7fa;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  padding-top: 40px;
}

.main {
  background: #fff;
  display: flex;
  max-width: 1200;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
}

.sidebar {
  background: #1e2939;
  width: 370px;
}

.imagine {
  width: 370px;
}

.about-me-container {
  padding-left: 90px;
  padding-right: 90px;
  padding-bottom: 110px;
  padding-top: 110px;
}

.contacts-container {
  margin-top: 60px;
  margin-left: 40px;
  margin-right: 40px;
}

.contacts-tittle {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
  margin-bottom: 20px;
}
.contacts-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #69707b;
}

.contacts-link-type {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
  margin-right: 10px;
}

.tech-skills-tittle {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
  color: #fff;
}

.tech-skills-container {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 55px;
}

.tech-skills-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #ff6b08;
  margin-left: 15px;
}

.tech-skills-text {
  color: #bdc1c5;
}

.soft-skills-tittle {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 17px;
  color: #fff;
}

.soft-skills-container {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 52px;
}

.soft-skills-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #ff6b08;
  margin-left: 15px;
}

.soft-skills-text {
  color: #bdc1c5;
}

.profession {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 23px;
}

.name {
  font-size: 45px;
  font-weight: 700;
  line-height: 89px;
}

.description {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 24px;
}

.info {
  margin-bottom: 65px;
}

.about-me-tittle {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
}

.projects-link {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.tech-name {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.dots {
  width: 318px;
  height: 1px;
  color: #595959;
  font-weight: 100;
}

.project-item {
  font-weight: 700;
  margin-left: 17px;
}

.projects-container {
  margin-bottom: 55px;
}

.profession-tittle {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.profession-orange {
  color: #ff6b08;
}

.profession-period {
  color: #a8a8a8;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 14px;
}

.profession-divider {
  color: #000000;
  width: 1px;
  height: 14px;
  font-weight: 600;
}

.duties {
  margin-top: 14px;
  margin-bottom: 30px;
}

.profession-duties-item {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.education-tittle {
  color: #000000;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
}

.education-container {
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 12px;
}

.university {
  color: #ff6b08;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 21px;
}
.managment {
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 12px;
}
